<hr>
<h1>Administration</h1>
<hr>
<h2>Import de lots</h2>
<input type="file" onchange="angular.element(this).scope().uploadFile(this)">
<!--<button class="btn btn-primary" ng-click="admin.uploadFile()">Upload</button>-->
<hr>
<h2>Lots importées</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Nombre de candidatures</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, value) in admin.plots">
        <th scope="row">{{value.name}}</th>
        <th scope="row">{{value.length}}</th>
      </tr>
    </tbody>
  </table>