<div class="container">
    <h1>Analyse</h1>
    <!--<a ng-click="analyze.debug()" class="btn-primary btn">Débug</a>-->
    <p class="chargement">{{ analyze.isMapUpdating() }}</p>
</div>

<div class="row">
    <div class="col">
        <h3>Sélection des lots</h3>
        <div ng-repeat="(key, value) in analyze.plots" class="form-check">
            <input class="form-check-input" ng-click="analyze.refresh()" ng-model="value.selected" type="checkbox" value="{{key}}" id="lot-{{key}}">
            <label class="form-check-label" for="lot-{{key}}">
                {{value.name}}
            </label>
        </div>
        <fieldset>
            <legend class="col-form-legend">Options graphique</legend>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filters-radio" ng-click="analyze.refresh()" ng-model="analyze.filter" id="total-radio" value="all" checked>
                    <label class="form-check-label" for="total-radio">
                        Total
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filters-radio" ng-click="analyze.refresh()" ng-model="analyze.filter" id="homme-femme-radio" value="homme_femme">
                    <label class="form-check-label" for="homme-femme-radio">
                        Homme / Femme
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filters-radio" ng-click="analyze.refresh()" ng-model="analyze.filter" id="boursiers-radio" value="boursiers">
                    <label class="form-check-label" for="boursiers-radio">
                        Boursiers
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filters-radio" ng-click="analyze.refresh()" ng-model="analyze.filter" id="lycee-radio" value="lycee">
                    <label class="form-check-label" for="lycee-radio">
                        Lycée
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="col-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" ui-sref="analyze.graphs">Mode graphique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="analyze.map">Mode carte</a>
            </li>
        </ul>
        <div ui-view></div>
    </div>
    <div class="col">
        <h3>Filtres</h3>
        <fieldset>
            <legend class="col-form-legend">Série de bac</legend>
            <div class="col-sm-10">
                <div class="form-check" ng-repeat="(key, data) in analyze.bacList">
                    <input class="form-check-input" ng-click="analyze.refresh()" ng-model="data.selected" type="checkbox" value="{{key}}" id="lot-bac-{{key}}">
                    <label class="form-check-label" for="lot-bac-{{key}}">
                        {{key}}
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend class="col-form-legend">Tri par sexe</legend>
            <div class="col-sm-10">
                <div class="form-check" ng-repeat="(key, data) in analyze.sexeList">
                    <input class="form-check-input" ng-click="analyze.refresh()" ng-model="data.selected" type="checkbox" value="{{key}}" id="sexe-{{key}}">
                    <label class="form-check-label" for="sexe-{{key}}">
                        {{key}}
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend class="col-form-legend">Candidats boursiers</legend>
            <div class="col-sm-10">
                <div class="form-check" ng-repeat="(key, data) in analyze.boursierList">
                    <input class="form-check-input" ng-click="analyze.refresh()" ng-model="data.selected" type="checkbox" value="{{key}}" id="boursier-{{key}}">
                    <label class="form-check-label" for="boursier-{{key}}">
                        {{key}}
                    </label>
                </div>
            </div>
        </fieldset>

    </div>
</div>
