<h1>Analyze</h1>

<a class="btn-primary btn" ui-sref="analyze.map">Afficher carte</a>
<a class="btn-primary btn" ui-sref="analyze.graphs">Afficher graphiques</a>
<div class="row">
    <div class="col">
        <h3>Sélection des lots</h3>
        <div ng-repeat="(key, value) in analyze.getPlotsList()" class="form-check">
            <input class="form-check-input" type="checkbox" value="{{value.value}}" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{value.text}}
            </label>
        </div>
    </div>
    <div ui-view ></div>
    <div class="col">
        <h3>Filtres</h3>
    </div>
</div>
