<h1>Analyze</h1>

<a ng-click="analyze.debug()" class="btn-primary btn">Debug</a>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" ui-sref="analyze.map">Carte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="analyze.graphs">Graphiques</a>
    </li>
</ul>

<div class="row">
    <div class="col">
        <h3>Sélection des lots</h3>
        <div ng-repeat="(key, value) in analyze.plots" class="form-check">
            <input class="form-check-input" ng-model="value.selected" type="checkbox" value="{{key}}" id="lot-{{key}}">
            <label class="form-check-label" for="lot-{{key}}">
                {{value.name}}
            </label>
        </div>
    </div>
    <div ui-view ></div>
    <div class="col">
        <h3>Filtres</h3>
    </div>
</div>
