<div class="row">
    <div class="col-3">
        <h3>Sélection des lots</h3>
    </div>
    <div class="col-6">
        <h2>Map</h2>
        <div class="zone-map" id="map"></div>
    </div>
    <div class="col-3">
        <h3>Filtres</h3>
        <fieldset class="form-group row">
            <legend class="col-form-legend">Tri par Série de bac</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="serie_bac" id="serie_bac1" value="option1" checked>
                        option 1
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="serie_bac" id="serie_bac2" value="option2">
                        option 2
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="serie_bac" id="serie_bac3" value="option3">
                        option 3
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend">Tri par sexe</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="sexe" id="sexeH" value="option1" checked>
                        Homme
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="sexe" id="sexeF" value="option2">
                        Femme
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="sexe" id="sexeNB" value="option3">
                        Non binaire
                    </label>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <legend class="col-form-legend">Candidats boursiers</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="boursier" id="boursier" value="oui">
                        Boursiers uniquement
                    </label>
                </div>
            </div>
        </fieldset>

    </div>
</div>

<script>
    function initMap() {
        var limoges = {lat: 45.833748, lng: 1.257645};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: limoges
        });
        var marker = new google.maps.Marker({
            position: limoges,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-zAE8umUUIT3FSoFiFYyChRuR5YsPge0&callback=initMap">
</script>