<div class="container">
    <hr>
    <h1>Todo List & Notes</h1>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">Amélioration UI & UX</li>
        <li class="list-group-item">Information visuelle pendant chargement des données de la map</li>
        <li class="list-group-item">Filtre Homme/Femme sur la map</li>
        <li class="list-group-item">Filtre Boursier sur la map</li>
        <li class="list-group-item">Amélioration géolocalisation map</li>
        <li class="list-group-item">Commenter les fonctions</li>
    </ul>
</div>