<div class="container">
    <hr>
    <h1>Todo List & Notes</h1>
    <hr>
    <ul class="list-group">
        <li class="list-group-item">Ajout des derniers filtres</li>
        <li class="list-group-item">Amélioration UI & UX</li>
        <li class="list-group-item">Amélioration des tooltips de la carte</li>
        <li class="list-group-item">Amélioration du chargement des points sur la carte (Le chargement peut être un peu long)</li>
        <li class="list-group-item">Amélioration de la prise en charge lors du chargement des fichiers (fonctionne avec les fichiers fournis sur https://www.unilim.fr/pages_perso/frederic.mora/js/frameworks/ mais pas avec certains fichiers)</li>
    </ul>
</div>